@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2>E:</h2>
            <ol>
                @foreach (var item in ViewBag.Efiles)
                {
                    <li>
                        <a class="text-warning" href="/Home/Movie/?id=@item">@item</a>
                        <br />
                    </li>
                }
            </ol>

        </div>
        <div class="col-xs-4">
            <h2>F:</h2>
            <ol>
                @foreach (var item in ViewBag.Ffiles)
                {
                    <li>
                        <a class="" href="/Home/Movie/?id=@item">@item</a>
                        <br />
                    </li>
                }
            </ol>
        </div>
        <div class="col-xs-4">
            <h2>G:</h2>
            <ol>
                @foreach (var item in ViewBag.Gfiles)
                {
                    <li > 
                        <a class="" href="/Home/Movie/?id=@item">@item</a>
                        <br />
                    </li>
                }
            </ol>
        </div>
    </div>
</div>

